.button {
    border-radius: 5px;
    background: none;
    border: none;
    box-shadow: 1px 1px 7px black;
    text-decoration: none;
    text-align: center;
    color: black;
}


.button:hover {
    cursor: pointer;
    background-color: blue;
}