.board {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    margin-top: 50px;
}

.buttons > * {
    flex-grow: 1;
    background: none;
    
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 7px black;
    text-decoration: none;
    text-align: center;
    color: black;
}

.reset-btn {
    margin-right: 10px;
}

.change-level-btn {
    margin-left: 10px;

}

.reset-btn:hover,
.change-level-btn:hover {
    cursor: pointer;
    background-color: blue;
}


