.board {
    width: 360px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    margin-top: 50px;
}

.buttons > * {
    flex-grow: 1;
    text-align: center;
}

.reset-btn {
    margin-right: 10px;
}

.change-level-btn {
    margin-left: 10px;

}


