.win-game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.play-again-btn {
    border-radius: 5px;
    background: none;
    margin: 10px;
    flex: 1;
    border: none;
    box-shadow: 1px 1px 7px black;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px;
}


.play-again-btn:hover {
    cursor: pointer;
    background-color: blue;
}