.win-game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.play-again-btn {
    padding: 5px 20px;
    margin-top: 20px;
}

.animate {
    animation: rotate 1.5s linear forwards;
 }

 @keyframes rotate {
    0% {
      transform: scale(0);
    }
    10% {
      font-size: 80px;
      transform: scale(2);
    }
    20% {
      transform: scale(0.5);
    }
    40% {
      transform: scale(1.5);
    }
    60% {
      transform: scale(0.8);
    }
    80% {
      transform: scale(1.2);
    }
    100% {
      font-size: 80px;
    }
  }
