.difficulty-btns {
    display: flex;
    width: 40vw;
}

.difficulty-btn {
    border-radius: 5px;
    background: none;
    margin: 10px;
    flex: 1;
    border: none;
    box-shadow: 1px 1px 7px black;
    text-decoration: none;
    text-align: center;
    color: black;
}

.difficulty-btn:hover {
    cursor: pointer;
    background-color: blue;
}