.tile {
    border: 1px solid gray;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile.block:hover {
    cursor: pointer;
}

.tile.block {
    background-color: rgb(243, 211, 170);
    position: relative;
    color: #050100;
}

.tile.empty {
    color: none;
    background-color: none;
    border: #0b6eb1;

    position: relative;

}